name: Build

on:
  workflow_call:
    inputs:
      mode:
        required: true
        type: string
        default: snapshot
        description: |
          the mode to use. either `snapshot` or `release`. Will affect effective version, as well
          as target-oci-registry.

jobs:
  prepare:
    uses: gardener/cc-utils/.github/workflows/prepare.yaml@master
    permissions:
      contents: read
    with:
      mode: ${{ inputs.mode }}

  oci-images:
    name: Build OCI-Images
    uses: gardener/cc-utils/.github/workflows/oci-ocm.yaml@master
    needs:
      - prepare
    secrets: inherit
    permissions:
      contents: read
      packages: write
      id-token: write
    with:
      name: gardener-extension-image-rewriter
      version: ${{ needs.prepare.outputs.version }}
      oci-registry: ${{ needs.prepare.outputs.oci-registry }}
      oci-repository: gardener/extensions/image-rewriter
      oci-platforms: linux/arm64,linux/amd64

  helmcharts:
    name: Build Helmcharts
    uses: gardener/cc-utils/.github/workflows/helmchart-ocm.yaml@master
    needs:
      - prepare
      - oci-images
    permissions:
      contents: read
      packages: write
      id-token: write
    with:
      name: image-rewriter
      dir: charts/gardener-extension-image-rewriter
      oci-registry: ${{ needs.prepare.outputs.oci-registry }}
      oci-repository: charts/gardener/extensions
      ocm-mappings: |
        - ref: ocm-resource:gardener-extension-image-rewriter.repository
          attribute: image.repository
        - ref: ocm-resource:gardener-extension-image-rewriter.tag
          attribute: image.tag

  verify:
    permissions:
        contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.3'
      - uses: gardener/cc-utils/.github/actions/trusted-checkout@master
      - uses: gardener/cc-utils/.github/actions/setup-git-identity@master
      - name: run-verify
        run: |
          set -eu
          mkdir /tmp/blobs.d
          make verify-extended |& tee /tmp/blobs.d/verify-log.txt
          # verify-extended calls `make sast-report`, which generates `gosec-report.sarif`
          tar czf /tmp/blobs.d/gosec-report.tar.gz gosec-report.sarif
          tar czf /tmp/blobs.d/verify-log.tar.gz -C /tmp/blobs.d verify-log.txt
      - name: add-reports-to-component-descriptor
        uses: gardener/cc-utils/.github/actions/export-ocm-fragments@master
        with:
          blobs-directory: /tmp/blobs.d
          ocm-resources: |
            - name: gosec-report
              relation: local
              access:
                type: localBlob
                localReference: gosec-report.tar.gz
              labels:
                - name: gardener.cloud/purposes
                  value:
                    - lint
                    - sast
                    - gosec
                - name: gardener.cloud/comment
                  value: |
                    we use gosec (linter) for SAST scans
                    see: https://github.com/securego/gosec
            - name: test-results
              relation: local
              access:
                type: localBlob
                localReference: verify-log.tar.gz
              labels:
                - name: gardener.cloud/purposes
                  value:
                    - test